name: Test

on:
  pull_request:
    branches: [ master ]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v2
        - name: Install modules
        run: yarn
        - name: Run eslint
        run: yarn lint --quiet
        - name: Run tests
        run: yarn test-coverage
        - name: Upload test coverage artifact
        uses: actions/upload-artifact@v1
        with:
          name: coverage
          path: coverage
      - name: Show coverage in comments
        uses: ziishaned/jest-reporter-action@v0.0.1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          test-command: "yarn test-coverage"